<template name="showtopic">
<div class="container-fluid">
<div class="row breadcrumbs">
	<div class="col-xs-12">
		<span class="episodeTitle">{{series.seriesTitle}}</span> <span class="episodeInfo">
		<a id="linkToTopics" href="#">{{episode.seasonNumber}}.{{episode.episodeNumber}} - {{episode.title}} >
		{{currentFilter}}</a> ({{placmentInArrayFilter}} of {{totalWithFilter}})</span>
		{{> inThisDiscussion }}

	</div>
</div>

<div class="row topicMeta row-centered">
	{{#if notFirstinArray}}
		<a href="#" id="goToPrev"><i class="fa fa-chevron-left"></i></a>
	{{/if}}
	{{#if notLastinArray}}
		<a href="#" id="goToNext"><i class="fa fa-chevron-right"></i></a>	
	{{/if}}
	<div class="col-xs-8 col-centered">
		<h1>{{topic.topicTitle}}</h1>
		<h4>Discussion started by <a href="kkkk">{{topic.createdByUsername}}</a> on {{formatDate topic.timestamp}}</h4>
		<img class="img-responsive" src="{{topic.linkedArticleInfo.image}}{{topic.originalThoughtImageSource}}">
		{{{topic.linkedAudioInfo.soundCloudEmbedCode}}}

		{{#if isOriginalThought topic.noteType}}
				<h5 class="origComment">An orignal comment by {{topic.createdByUsername}}:</h5> 
		{{else}}
		<h5 class="origComment">By: 
			{{topic.linkedArticleInfo.author}}
			{{topic.linkedAudioInfo.author}}</h5>
		<h5 class="is-from">From <a href="{{topic.linkedArticleInfo.URL}}">
			{{topic.linkedArticleInfo.title}}
			{{topic.linkedAudioInfo.title}}</a> on 
			{{topic.linkedArticleInfo.site}}
			{{topic.linkedAudioInfo.site}}</h5>
		{{/if}}


		<p>{{topic.conversationStarter}}</p>
		<div class="tags">
			{{#each topic.tags}}
				<span class="tag">{{this}}</span>
			{{/each}}
			<i class="fa fa-tags tag-box"></i>
		</div>
	</div>
</div>
<div class="row row-centered">
	<div class="col-xs-8 col-centered conversationMeta upper-border-me">
		<i class="fa fa-comment"></i>Conversation has <span class="makeBold">{{topic.numberComments }} observations</span> by <span class="makeBold">{{topic.numberCommentors}} memebers</span>.
		<!--
		Single button 	-->
		<div class="sorter">
			<h5>Sort by: </h5>	
			<div class="btn-group ">
			  <button type="button" class="btn btn-sort dropdown-toggle" data-toggle="dropdown">
			    {{sortedBy}}  <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="#">Most Recent</a></li>
			    <li><a href="#">Most Recommended</a></li>
			    <li><a href="#">Most Replies</a></li>
			  </ul>
			</div>
		</div>


	</div>
</div>
<div class="row commentList row-centered">
	<div class="col-xs-8 col-centered">
		<div class="observation-enter">
			<img src="{{getMyImage}}" width="55px">
			<div class="observation-holder" id="newObservation" contenteditable="true">{{initialText}}</div>
		</div>
		{{#each comments}}
			<div class="observation-block">
				<img src="{{getProfileImage}}" width="55px">
				<div class="observation-holder">
					{{ >linkToThread threadContext }}
					<div class="primary-observation">
						<h4>{{getUserName}}</h4>
						<p>{{commentText}}</p>
						<p class="observation-meta">{{timeAgo timestamp}} | 
							{{#if alreadyRecommended recommendedBy}}
								Recommended ({{recommendedBy.length}})  
							{{else}}
								<a class="recommended-link" href="#"> Recommended</a> ({{recommendedBy.length}}) 
							{{/if}}
						</p>
					</div>
					

					{{#each nestedComment this._id}}
					<div class="secondary-observations">
						<img src="{{getProfileImage}}" width="45px">
						<div class="text-holder">
							<h4>{{getUserName}}</h4>
							<p>{{commentText}}</p>
						</div>
					</div>
					{{/each}}

					<div class="reply-to-conversation">
						<span>Reply:</span> <p class="interiorReply" contenteditable="true"></p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
<div class="row row-centered follow-social">
	<div class="col-xs-8 col-centered">
	{{#if followed}}
		<button class="btn btn-follow" id="unfollowDiscussion"><i class="fa fa-bookmark"></i>Discussion Followed</button>
	{{else}}
		<button class="btn btn-unfollow" id="followDiscussion"><i class="fa fa-bookmark"></i>Follow Discussion</button>
	{{/if}}
	<button class="btn btn-social" id="unfollowDiscussion">Share <i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i><i class="fa fa-tumblr"></i></button>
	</div>
</div>
</div>
</template>


<template name="linkToThread">
  <a href={{pathFor "showtopicone"}}>
    <i class="fa fa-link"></i>
  </a>
</template>

<template name="inThisDiscussion">
	{{#if commentsExist}}
		<span class="inThisDiscussion">	
			<h5>Discussing this topic:</h5>
			{{#each topicCommentor}}
				<img src="{{profile.image}}" height="25px">
			{{/each}}
		</span>
	{{/if}}
</template>